* {
  font-style: url(<linkrel='preconnect'href='https://fonts.googleapis.com'><linkrel='preconnect'href='https://fonts.gstatic.com'crossorigin><linkhref='https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap'rel='stylesheet'>);
}

h1 {
  text-align: center;
  background-color: rgb(205 205 205);
  margin: 10px;
  padding: 10px;
  border: 2px solid rgb(178, 237, 237);
}
.ranga1,
.ranga2 {
  border: 2px solid aqua;
  margin: 10px;
  padding: 10px;
  background-color: bisque;
}
p {
  text-align: justify;
}
h2 {
  text-align: center;
}
h2:hover {
  background-color: orange;
  border-radius: 10px;
}
h1:hover {
  background-color: brown;
  border-radius: 15px;
}
ul li:first-child {
  color: blue;
}
ul li:last-child {
  color: coral;
}
ul li:nth-child(2) {
  color: crimson;
}
ul li:nth-child(3) {
  color: darkred;
}
.rintu {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin-left: 20px;
  float: left;
  text-align: center;
}
.rintu:first-child:hover {
  background-color: cyan;
  border: 3px solid;
  text-decoration: none;
  color: crimson;
  text-align: center;
  border: 3px solid;
  padding: 25px;
  margin: 20px;
}
.rintu:nth-child(3):hover {
  background-color: hotpink;
  border: 3px solid;
}
